{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}

<div class="container">
  <div class="row d-flex justify-content-center m-4">
    <div class="homepage-banner border rounded text-white p-5 col-md-6 col-xs-12 shadow">
      <div class="text-center">
        <h2>{% trans "Login" %}</h2>
        <hr>
        <p>{% blocktrans %}Welcome back RAGEit Member! If you have not created an account yet, then please
          <a href=" {{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
      </div>
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <div class="text-center">
          <button class="primaryAction btn border text-white btn-hover-style" type="submit">{% trans "Login" %}</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock %}