/* Google Fonts import */
@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Permanent+Marker&display=swap');
/*
red font: #5F021F;

*/

h1 {
    font-family: 'Permanent Marker', sans-serif;
    color: #5F021F;
}

h2,
p {
    font-family: 'Oswald', sans-serif;
}

nav a {
    color: #5F021F !important;
    font-family: 'Oswald', sans-serif;
    font-size: 120%;
}

nav a:hover {
    color: white !important;
}

footer a:hover {
    color: #5F021F !important;
}

a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
}

footer {
    background-color: #5F021F;
    font-family: 'Oswald', sans-serif !important;
}

.homepage-banner {
    background-color: #5F021F;
}

.card-title {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.card-body>a {
    color: black !important;
    font-size: 130%;
}

.card-body>a:hover {
    color: #5F021F !important;
}