{% extends "base.html" %}

{% block content %}

<div class="homepage-banner py-3 m-0 text-center">
    <h2 class="text-white">For pissed off people.</h2>
</div>
<div class="alert alert-success alert-dismissible fade show text-center hide" id="success-post-alert" role="alert">
    <strong>Success!</strong> Your post is made, you can view it below.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<!-- Blog posts -->
<div class="container-fluid">
    <div class="row my-4">
        {% for post in post_list %}
        <div class="col-sm-6 col-xs-12">
            <div class="p-3 mx-1 d-flex justify-content-center">
                <div class="card shadow-sm" style="width: 85%;">
                    {% if "placeholder" in post.featured_image.url %}
                    <img class="card-img-top" src="https://i.imgflip.com/4f1odp.png">
                    {% else %}
                    <img class="card-img-top" src="{{ post.featured_image.url }}" alt="Card image cap"
                        class="img-fluid">
                    {% endif %}
                    <div class="card-body">
                        <a class="card-title" href="{% url 'post_detailed_view' post.slug %}">{{ post.title }}</a>
                        <p class="mb-1">{{ post.content|truncatechars:200 | safe }}</p>
                        <p class="mb-0"><small><i class="fa-solid fa-user"></i> Posted by {{post.author}} on
                                {{ post.created_on }}</small>
                        </p>
                        <p class="mb-0"><small><i class="fa-solid fa-face-angry"></i> {{ post.number_of_likes }}
                                raged</small></p>
                        <p class="mb-0"><small><i class="fa-solid fa-comment"></i> {{ post.number_of_comments }}
                                commented</small></p>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}