{% extends "base.html" %}

{% block content %}

<div class="homepage-banner py-3 m-0 text-center">
    <h2 class="text-white">For pissed off people.</h2>
</div>
<!-- Django Messages -->
{% for message in messages %}
<div class="alert alert-success alert-dismissible fade show text-center" role="alert">
    {{ message | safe }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<!-- Blog posts -->
<div class="container-fluid">
    <div class="row my-4">
        {% for post in post_list %}
        <div class="col-sm-6 col-xs-12">
            <div class="p-3 mx-1 d-flex justify-content-center">
                <div class="card shadow-sm" style="width: 85%;">
                    {% if "placeholder" in post.featured_image.url %}
                    <img class="card-img-top" src="https://i.imgflip.com/4f1odp.png"
                        alt="Placeholder photo of a very angry meme face">
                    {% else %}
                    <img class="card-img-top img-fluid" src="{{ post.featured_image.url }}"
                        alt="Featured photo posted by user">
                    {% endif %}
                    <div class="card-body">
                        <a class="card-title" href="{% url 'post_detailed_view' post.slug %}">{{ post.title }}</a>
                        <p class="mb-1">{{ post.content|truncatechars:200 | safe }}</p>
                        <p class="mb-0"><small><i class="fa-solid fa-user"></i> Posted by {{post.author}} on
                                {{ post.created_on }}</small>
                        </p>
                        {% if user.is_authenticated and user == post.author %}
                        <ul class="authorized-user-links">
                            <li><small><a class="link-secondary" aria-label="Edit your post"
                                        href="{% url 'update_post' post.slug %}"><i
                                            class="fa-solid fa-pen-to-square"></i>
                                        Edit
                                        Post</a></small>
                            </li>
                            <li><small><a class="link-danger"
                                        aria-label="Delete your post (will ask for confirmation to delete post when clicked)"
                                        href="{% url 'delete_post' post.slug %}"><i class="fa-solid fa-trash-can"></i>
                                        Delete
                                        Post</a></small>
                            </li>
                        </ul>
                        {% endif %}
                        <div class="mt-3">
                            <p class="mb-0"><small><i class="fa-solid fa-face-angry"></i> {{ post.number_of_likes }}
                                    raged</small></p>
                            <p class="mb-0"><small><i class="fa-solid fa-comment"></i> {{ post.number_of_comments }}
                                    commented</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}