{% extends "base.html" %}

{% block content %}

<div class="container w-auto d-flex justify-content-center">
    <div class="row p-4">
        <div class="homepage-banner border rounded text-white">
            <div>
                <p class="mb-0"><small><i class="fa-solid fa-user"></i> Posted by {{ post.author }},
                        {{ post.created_on }}</small></p>
                {% if post.revised_on != post.created_on %}
                <p class="mb-0"><small><i class="fa-solid fa-pen-to-square"></i> Last updated
                        {{ post.revised_on }}</small></p>
                {% endif %}
                <h2 class="mb-3">{{ post.title }}</h2>
            </div>
            <div>
                {% if "placeholder" in post.featured_image.url %}
                <img class="img-fluid" src="https://i.imgflip.com/4f1odp.png">
                {% else %}
                <img src="{{ post.featured_image.url }}" alt="Card image" class="img-fluid">
                {% endif %}
                <p><i class="fa-solid fa-face-angry"></i> {{ post.number_of_likes }} <i class="fa-solid fa-comment"></i>
                    {{ post.number_of_comments }}</p>
                <p>{{ post.content | safe }}</p>
            </div>
        </div>
    </div>
</div>

<div>
    <h3>Comments: </h3>
    {% for comment in post_comment %}
    <div>
        {% if comment|length >= 1 %}
        <p>{{ comment.author }} on {{ comment.created_on }} wrote:</p>
        <p>{{ comment.content | safe }}</p>
        {% else %}
        <p>It's lonely here</p>
        {% endif %}
    </div>
    {% endfor %}
</div>


{% endblock %}