{% extends "base.html" %}

{% block content %}

<div class="container mt-3">
    <div class="row pt-1 p-5">
        <div class="homepage-banner border rounded text-white col-md-8 col-sm-12">
            <!-- Detailed Post View -->
            <div>
                <p class="mb-0"><small><i class="fa-solid fa-user"></i> Posted by {{ post.author }},
                        {{ post.created_on }}</small></p>
                <p class="mb-0"><small><i class="fa-solid fa-user-pen"></i> Last updated
                        {{ post.revised_on }}</small></p>
                {% if user.is_authenticated and user == post.author %}
                <ul class="authorized-user-links">
                    <li><small><a class="link-secondary" aria-label="Edit your post"
                                href="{% url 'update_post' post.slug %}"><i class="fa-solid fa-pen-to-square"></i>
                                Edit
                                Post</a></small>
                    </li>
                    <li><small><a class="link-danger"
                                aria-label="Delete your post (will ask for confirmation to delete post when clicked)"
                                href="{% url 'delete_post' post.slug %}"><i class="fa-solid fa-trash-can"></i>
                                Delete
                                Post</a></small>
                    </li>
                </ul>
                {% endif %}
                <h2 class="mb-3">{{ post.title }}</h2>
            </div>
            <div>
                {% if "placeholder" in post.featured_image.url %}
                <img class="img-fluid" src="https://i.imgflip.com/4f1odp.png">
                {% else %}
                <img src="{{ post.featured_image.url }}" alt="Card image" class="img-fluid card-img">
                {% endif %}
                <p><i class="fa-solid fa-face-angry"></i> {{ post.number_of_likes }} <i class="fa-solid fa-comment"></i>
                    {{ post.number_of_comments }}</p>
                <p>{{ post.content | linebreaks }}</p>
            </div>
        </div>
        <!-- Comments Section -->
        <div class="col-md-4 col-sm-12">
            <h3 class="text-center">Comments Section: </h3>
            {% if commented %}
            <div class="alert alert-success" role="alert">
                Your comment is live!
            </div>
            {% endif %}
            {% if post_comment|length >= 1 %}
            {% for comment in post_comment %}
            <div class="border shadow-sm p-2 mb-3">
                <h3><i class="fa-solid fa-user"></i> {{ comment.author }}</h3>
                <p class="m-0"><small>{{ comment.created_on }}</small></p>
                {% if user.is_authenticated and user == comment.author %}
                <ul class="authorized-user-links">
                    <li><small><a class="link-danger"
                                aria-label="Delete your comment (will ask for confirmation to delete comment when clicked)"
                                href=""><i class="fa-solid fa-trash-can"></i>
                                Delete
                                Comment</a></small>
                    </li>
                </ul>
                {% endif %}
                <p class="mb-2">{{ comment.content | linebreaks }}</p>
            </div>
            {% endfor %}
            {% else %}
            <p class="text-center">It's lonely here...<i class="fa-solid fa-face-sad-tear"></i></p>
            {% endif %}
            {% if user.is_authenticated %}
            <div class="border shadow-sm p-3 m-4">
                <p class="text-center">Add a Comment?</p>
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div>
                        <textarea class="form-control" placeholder="Add your comment" id="comment_content"
                            name="content" style="height: 200px"></textarea>
                        <label for="comment_content"></label>
                    </div>
                    <div class="text-center">
                        <input class="btn border comment-btn text-white" type="submit" value="Submit">
                    </div>
                </form>
            </div>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}