{% extends "base.html" %}

{% block content %}

<div class="container mt-3">
    <div class="row pt-1 p-5">
        <div class="homepage-banner border rounded text-white col-md-8 col-sm-12">
            <!-- Detailed Post View -->
            <div>
                <p class="mb-0"><small><i class="fa-solid fa-user"></i> Posted by {{ post.author }},
                        {{ post.created_on }}</small></p>
                {% if is_revised %}
                <p class="mb-0"><small><i class="fa-solid fa-pen-to-square"></i> Last updated
                        {{ post.revised_on }}</small></p>
                {% endif %}
                {% if user.is_authenticated and user == post.author %}
                <ul class="authorized-user-links">
                    <li><small><a class="link-secondary" aria-label="Edit your post"
                                href="{% url 'update_post' post.slug %}"><i class="fa-solid fa-pen-to-square"></i>
                                Edit
                                Post</a></small>
                    </li>
                    <li><small><a class="link-danger"
                                aria-label="Delete your post (will ask for confirmation to delete post when clicked)"
                                href="{% url 'delete_post' post.slug %}"><i class="fa-solid fa-trash-can"></i>
                                Delete
                                Post</a></small>
                    </li>
                </ul>
                {% endif %}
                <h2 class="mb-3">{{ post.title }}</h2>
            </div>
            <div>
                {% if "placeholder" in post.featured_image.url %}
                <img class="img-fluid" src="https://i.imgflip.com/4f1odp.png">
                {% else %}
                <img src="{{ post.featured_image.url }}" alt="Card image" class="img-fluid card-img">
                {% endif %}
                <p><i class="fa-solid fa-face-angry"></i> {{ post.number_of_likes }} <i class="fa-solid fa-comment"></i>
                    {{ post.number_of_comments }}</p>
                <p>{{ post.content | safe }}</p>
            </div>
        </div>
        <!-- Comments Section -->
        <div class="col-md-4 col-sm-12">
            <h3 class="text-center">Comments Section: </h3>
            {% if post_comment|length >= 1 %}
            {% for comment in post_comment %}
            <div class="border shadow-sm p-2">
                <h3><i class="fa-solid fa-user"></i> {{ comment.author }}</h3>
                <p><small>{{ comment.created_on }}</small></p>
                <p>{{ comment.content | safe }}</p>
            </div>
            {% endfor %}
            {% else %}
            <p class="text-center">It's lonely here...<i class="fa-solid fa-face-sad-tear"></i></p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}